/*************************************************
tipTip
*************************************************/

/* TipTip CSS - Version 1.2 */
#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background: rgb(25,25,25);
	background: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

.tweet,
.query{}
.tweet .loading{padding:10px 15px;margin:0px;}
.tweet_list{list-style:none;margin:0;padding:0;overflow-y:hidden;}
.tweet_list .awesome,
.tweet_list .epic{text-transform:uppercase;}
.tweet_list li{overflow-y:auto;overflow-x:hidden;padding:0.5em;list-style-type:none;}
.tweet_list li a{}
.tweet_list .tweet_even{}
.tweet_list .tweet_avatar{padding-right:15px;float:left;}
.tweet_list .tweet_avatar img{vertical-align:middle;}
.sidebar .widget ul.tweet_list, #footer .widget ul.tweet_list {margin:0px;}


/* spotlight sidebar modifiers */
#spotlight1 .twitted {
	margin-top:0px;
}
#spotlight1 .twitted p.profileLink {
	display:none;
}
#spotlight1 .twitted ul#twitter_update_list li {
	margin-bottom:10px !important;
}
#spotlight1 .twitted ul#twitter_update_list li a {
	margin-top:-1px !important;
	position:relative !important;
	z-index:10 !important;
	padding:3px 0px 0px 1px !important;
	display:block !important;
	font-size:.8em !important;
	color:#666 !important;
}
#spotlight1 .twitted ul#twitter_update_list li span a {
	background:none !important;
	display:inline !important;
	padding:0px !important;
	margin-top:0px !important;
	font-size:1.0em !important;
}
#spotlight1 .twitted ul#twitter_update_list li span {
	font-size:.85em !important;
	padding-top:5px !important;
	height:70px !important;
}


/*************************************************
colorbox
*************************************************/

/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:#000;}

#colorbox{}
    #cboxContent{margin-top:20px;}
        #cboxLoadedContent{background:#000; padding:5px;}
        #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(images/controls.png) top left no-repeat; width:28px; height:65px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:bottom left;}
        #cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(images/controls.png) top right no-repeat; width:28px; height:65px; text-indent:-9999px;}
        #cboxNext.hover{background-position:bottom right;}
        #cboxLoadingOverlay{background:#000;}
        #cboxLoadingGraphic{background:url(images/loading.gif) center center no-repeat;}
        #cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(images/controls.png) top center no-repeat; width:38px; height:19px; text-indent:-9999px;}
        #cboxClose.hover{background-position:bottom center;}
	
	
	
/*************************************************
nivo slider
*************************************************/

/*
 * jQuery Nivo Slider v2.4
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */ 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:89;	
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}	



/*************************************************
jquery tabs
*************************************************/

ul.tabnav {
	margin:0px;
	padding:0px;
}
ul.tabnav li {
display: inline;
list-style: none;
}

ul.tabnav li a {
text-decoration: none;
text-transform: uppercase;
color: #444;
font-weight: bold;
padding: 8px 9px;
outline: none;
font-size:.8em;
}

#footer ul.tabnav li a {
	color:#FFF;
}

ul.tabnav li a:hover, ul.tabnav li a:active, ul.tabnav li.ui-tabs-selected a {
	color:#FFF;
	background:url(../images/sidebar-header-bg.png) repeat-x 0px 0px;	
}

.tabdiv-wrapper {
	margin-top:7px;
	border:1px solid #CCC;
	margin-bottom:20px;
}

.tabdiv {
background: #E8E8E8;
border:1px solid #FFF;
border-top:0px;
font-size:.9em;
}

.tabdiv ul {
	margin-bottom:0px;
}

.tabdiv li {
	list-style-type:none;
	list-style-image: none !important;	
}

.tabdiv li a {
	display:block;
	padding:10px 10px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
	color:#444;
}
.tabdiv li a:hover {
	background:#F0F0F0;
	color:#222;
}
.tabdiv li.last a {
	text-align:center;
	font-weight:bold;
	text-transform:uppercase;
	color:#666;
	font-size:1em;
	padding:2px 0px 4px 0px;
	border-bottom:0px;
}
.tabdiv li ul {
	background:#EFEFEF;
}
.tabdiv li li a {
	border-bottom:none;
	border-top:none;
	padding:7px 10px 7px 25px;
}
.tabdiv li li li a {
	padding:4px 10px 4px 40px;
	font-size:.9em;
}
.tabdiv li li a:hover {
	background:#F9F9F9;
}
#tabs-tags.tabdiv {
	padding:10px 15px 15px 15px;
}
#tabs-tags.tabdiv a {
	color:#444;
}
#tabs-tags.tabdiv a:hover {
	color:#666;
}
#tabs-comments.tabdiv a span {
	color:#999;
	font-style:italic;
}

.ui-tabs-hide {
display: none;
}

/*shortcode tabs*/
.tabs-shortcode .tabdiv {
	background: #F3F3F3;
	border:2px solid #FFF;
	padding:15px;
}
.tabs-shortcode .tabdiv-wrapper {
	margin-top:3px;
	border:1px solid #DDD;
	margin-bottom:20px;
}
.tabs-shortcode h3 {
	margin:0px;
	padding:0px;
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}